<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Suivi Machine (Overconsumption Analyse)</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="ecran">
        
        <div class="carte" data-tilt>
            <h1>Suivi Machine</h1>
            <form id="uploadForm" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="csvFile">Upload CSV File:</label>
                    <input type="file" name="csvFile" id="csvFile" accept=".csv">
                </div>
                <div class="form-group">
                    <!-- Add the loading spinner -->
                    <div class="loader" id="loader"></div>
                    <input type="submit" value="Start Processing" id="startButton" onclick="handleProcessing()">
                </div>
            </form>

            <div id="downloadForm" {% if link %} style="display: block;" {% else %} style="display: none;" {% endif %}>
                <h2>Download Excel File</h2>
                <a href="{{ link }}" id="downloadLink" download="suivi_9_sites.xlsx">Download Excel</a>
            </div>
        </div>
    
    </div>

    <script>
        function handleProcessing() {
            // Disable the processing button and show the loading spinner
            const startButton = document.getElementById("startButton");
            const loader = document.getElementById("loader");
            startButton.disabled = true;
            loader.style.display = "block";

            const formData = new FormData();
            formData.append("csvFile", document.getElementById("csvFile").files[0]);

            fetch("/", {
                method: "POST",
                body: formData,
            })
            .then(response => response.blob())
            .then(blob => {
                const downloadLink = document.getElementById("downloadLink");
                downloadLink.href = URL.createObjectURL(blob);
                document.getElementById("downloadForm").style.display = "block";
                
                // Re-enable the processing button and hide the loading spinner
                startButton.disabled = false;
                loader.style.display = "none";
            })
            .catch(error => console.error(error));
        }
    </script>
    <script src="{{ url_for('static', filename='vanilla-tilt.js') }}"></script>
    
</body>
</html>